*
!.gitignore

!assets
!assets/*
!bin
!bin/*

!.config
.config/*
!.config/dunst
!.config/fontconfig
!.irssi
!.irssi/*

!.i3
!.vim
.vim/.netrwhist
!.comptonrc
!.i3status.conf
!.mutt
!.profile
!.sxhkdrc
!.tmux.conf
!.urxvt
!.vimrc
!.wmrc
!.Xresources
!.zshalias
!.zshrc
!setup.sh
!csetup.sh
