URxvt.font:                 xft:Inconsolata:size=14
URxvt.letterSpace:          -1
 
! XFT and Font settings
!Xft.dpi:                    96
!Xft.antialias:              true
!Xft.hinting:                true
!Xft.autohint:               true
!Xft.hintstyle:              hintslight
!Xft.lcdfilter:              lcdlegacy
!Xft.rgba:                   rgb
xft.antialias: 0
xft.autohint: 0
xft.dpi: 96
xft.hinting: 1
xft.hintstyle: hintful
xft.lcdfilter: lcddefault
xft.rgba: rgb

URxvt.scrollBar: off

URxvt.perl-ext-common:    clipboard
URxvt.clipboard.copycmd:  mclip
URxvt.clipboard.pastecmd: mclip paste
URxvt.iso14755: false
URxvt.iso14755_52: false

URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste

!URxvt.background: #000000
URxvt*background: rgba:0000/0000/0000/c800
URxvt*depth: 32
URxvt.foreground: #EEEEEE

! black
*.color0:       #000000
*.color8:       #595959

! red
*.color1:       #f075ac
*.color9:       #f5a2b5

! green
*.color2:       #8eed74
*.color10:      #a3f2a0

! yellow
*.color3:       #f0b575
*.color11:      #f5cda2

! blue
*.color4:       #7594f0
*.color12:      #a2c1f5

! magenta
*.color5:       #df77ed
*.color13:      #d2a2f5

! cyan
*.color6:       #7ce5eb
*.color14:      #a0e9f2

! white
*.color7:       #f5f5f5
*.color15:      #fdfdfd

